<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:yandex="http://news.yandex.ru" xmlns:turbo="http://turbo.yandex.ru">
    <channel><title>Культура.РФ</title>
        <description>Культура.РФ — портал культурного наследия, традиций народов России. Бесплатное кино, спектакли
            онлайн, виртуальные музеи. Расписание выставок, концертов, спектаклей.
        </description>
        <link>
        https://yandex-rss.herokuapp.com</link>
        <language>ru</language>
        <turbo:analytics type="Yandex" id="17425498"></turbo:analytics>
        <turbo:analytics type="Rambler" id="4480430"></turbo:analytics><!--if entityType === 'publications'-->
        <!--    turbo:analytics(type='MailRu', id=config.services.topMailRu.analyticsId)-->
        <item turbo="true"><title>«День открытых дверей» в усадьбе Ильи Репина</title>
            <description>Вспоминаем, как художник строил свои «Пенаты», кто бывал на репинских «средах» и чем хозяева
                угощали гостей.
            </description>
            <link>
            https://yandex-rss.herokuapp.com/materials/128127/den-otkrytykh-dverei-v-usadbe-ili-repina</link>
            <pubDate>Fri, 05 Aug 2016 03:00:00 +0300</pubDate>
            <author>Редакция портала «Культура.РФ»</author>
            <turbo:content><![CDATA[
                <header><h1>«День открытых дверей» в усадьбе Ильи Репина</h1>
                    <menu><a href="https://yandex-rss.herokuapp.com/visit">Посетить</a><a
                            href="https://yandex-rss.herokuapp.com/read">Читать</a><a
                            href="https://yandex-rss.herokuapp.com/watch">Смотреть</a><a
                            href="https://yandex-rss.herokuapp.com/afisha">Афиша</a><a href="https://yandex-rss.herokuapp.com/atlas">Атлас</a><a
                            href="https://yandex-rss.herokuapp.com/s">Спецпроекты</a><a
                            href="https://yandex-rss.herokuapp.com/cinema">Кино</a><a
                            href="https://yandex-rss.herokuapp.com/museums">Музеи</a><a
                            href="https://yandex-rss.herokuapp.com/music">Музыка</a><a
                            href="https://yandex-rss.herokuapp.com/theaters">Театры</a><a
                            href="https://yandex-rss.herokuapp.com/architecture">Архитектура</a><a
                            href="https://yandex-rss.herokuapp.com/literature">Литература</a><a
                            href="https://yandex-rss.herokuapp.com/traditions">Традиции</a><a
                            href="https://yandex-rss.herokuapp.com/lectures">Лекции</a><a href="https://yandex-rss.herokuapp.com/russia">Образы
                        России</a></menu>
                    <div data-block="breadcrumblist"><a href="https://yandex-rss.herokuapp.com/museums">Музеи</a><a
                            href="https://yandex-rss.herokuapp.com/museums/articles">Публикации раздела Музеи</a></div>
                </header><!-- change to no podcast-->
                <iframe src="https://www.culture.ru/embedded/widgets/6"></iframe>
                <p><em>Илья Репин был известен не только как живописец, но и как гостеприимный хозяин. О вечерах в его
                    усадьбе до сих пор ходят легенды. Вспоминаем, как художник строил свои «Пенаты», кто бывал на
                    репинских «средах» и чем хозяева угощали гостей</em>.</p>
                <h2>«Пенаты» в Куоккале</h2>
                <p>В 1899 году <a href="/persons/8244/ilya-repin" target="_blank">Илья Репин</a> купил хутор в Куоккале
                    (сейчас — поселок Репино). Маленький домик <a
                            href="/materials/99836/sebe-lyubimomu-doma-arhitektorov-i-hudozhnikov-po-sobstvennim-proektam"
                            target="_blank">по проекту художника</a> перестроили: возвели второй этаж с большой светлой
                    мастерской, достроили несколько комнат. Живописец назвал усадьбу в честь римских богов домашнего
                    очага — «Пенаты». Их изображениями украсили расписные деревянные ворота, созданные по рисунку
                    Репина. Он сам сажал здесь деревья и копал каналы, чтобы на участке появилось несколько небольших
                    озер.</p>
                <p>Каждую среду в «Пенатах» проходил «день открытых дверей» — к Илье Репину и его жене приезжали гости.
                    Традицию официальных приемов ввела вторая жена художника, Наталья Нордман, чтобы в остальное время
                    живописец мог не отвлекаться от работы (прибытие в неурочный день могло вызвать вспышку нешуточного
                    гнева хозяина). На репинских «средах» бывали <a href="/persons/8133/sergey-esenin" target="_blank">Сергей
                        Есенин</a> и <a href="/materials/70473/novgorod-gorkogo" target="_blank">Максим Горький</a>,
                    композиторы Александр Глазунов и Анатолий Лядов, певец <a href="/persons/9332/fedor-shalyapin"
                                                                              target="_blank">Федор Шаляпин</a> и критик
                    Владимир Стасов, а также многие художники. Сюда приезжали с друзьями и знакомыми, необязательно по
                    приглашению.</p>
                <div data-block="gallery"><img src="https://b1.culture.ru/c/497246.jpg"/><img
                        src="https://b1.culture.ru/c/497248.jpg"/></div>
                <h2>Вегетарианство, самообслуживание, сон на открытом воздухе</h2>
                <p>Про Наталью Нордман Владимир Стасов говорил: «Она «парень» недурной, даже интересный». Нордман ввела
                    в усадьбе экстравагантные по тем временам порядки. Гостям она раздавала самодельные брошюрки с
                    надписью «Я никого не ем». Хозяйка усадьбы принципиально не носила шуб из натурального меха, не
                    употребляла в пищу мясо и гостям предлагала только вегетарианские блюда. К ним супруги подавали
                    вино: водку в «Пенатах» не пили. Многие потом вспоминали в мемуарах «еду из сена», овощные котлеты и
                    бифштексы из клюквы. Говорили, что некоторые гости привозили с собой запасы продуктов и ужинали на
                    станции или прямо в доме Репиных — закрывшись в какой-нибудь комнате.</p>
                <p>Прислуга в доме Репиных не подавала на стол, не открывала гостям дверь и ужинала за одним столом с
                    хозяевами (по крайней мере, в день приема). Повсюду висели плакаты: «Снимайте пальто и калоши
                    сами!», «Открывайте дверь в столовую сами!», «Не ждите прислуги, ее нет!». Пальто приглашенным
                    друзьям подавал сам Илья Репин.</p>
                <p>Интересный факт: Илья Репин круглый год спал буквально на улице и заставлял домочадцев следовать
                    своему примеру. Так он спасался, по совету одного молодого врача, «от удушливого и смертельно
                    опасного яда спальни». Художник ночевал на веранде, под навесом; в морозы он грелся в спальном мешке
                    на пуху. Жена и дети спали в так называемой холодной — комнате, в которой открывались настежь все
                    окна. Дочь Вера спустя годы вспоминала, что утром к ним вбегал Репин с изморозью на усах и стряхивал
                    снег с постелей родственников.</p>
                <div data-block="gallery"><img src="https://b1.culture.ru/c/497303.jpg"/><img
                        src="https://b1.culture.ru/c/497304.jpg"/></div>
                <p>В своих мемуарах <a href="/materials/55040/-rossiya-zhila-v-nem-on-bil-rossiya" target="_blank">Иван
                    Бунин</a> рассказывал, как Илья Репин пригласил его позировать для портрета: «Я с радостью поспешил
                    к нему: ведь какая это была честь — быть написанным Репиным! И вот приезжаю, дивное утро, солнце и
                    жестокий мороз, двор дачи Репина, помешавшегося в ту пору на вегетарианстве и на чистом воздухе, в
                    глубоких снегах, а в доме — все окна настежь».</p>
                <p>Репин радушно встретил Ивана Бунина и провел в мастерскую, где, вспоминает писатель, тоже был мороз,
                    «как на дворе». Бунин, сославшись на срочные дела, почти сразу же ушел на вокзал: «…а там кинулся к
                    буфету, к водке, жадно закурил, вскочил в вагон, а из Петербурга на другой день послал телеграмму:
                    дорогой Илья Ефимович, я, мол, в полном отчаянии, срочно вызван в Москву, уезжаю нынче же с первым
                    поездом».</p>
                <h2>«Репинские травки» для футуристов</h2>
                <p>Футуристы стали частыми гостями на репинских «средах» после того, как Илья Репин познакомился с <a
                        href="/persons/8266/vladimir-mayakovskiy" target="_blank">Владимиром Маяковским</a>. Живописец
                    пришел в восторг от его стихов, и даже вызывающее поведение молодого поэта не помешало зарождавшейся
                    симпатии. «Уж вы на меня не сердитесь, но, честное слово, какой же вы, к чертям, футурист!» —
                    говорил ему Репин. Он пригласил Маяковского в «Пенаты», чтобы написать его портрет. Однако картины
                    не получилось: накануне визита Маяковский сбрил свою «львиную гриву», которой восхищался Илья Репин.
                    Художник лишь сделал небольшой набросок. Зато Маяковский рисовал его неоднократно — и одного, и с
                    другом <a href="/movies/2833/ostrova-korney-chukovskiy" target="_blank">Корнеем Чуковским</a>. О
                    визитах в «Пенаты» поэт писал: «Ем репинские травки. Для футуриста ростом в сажень — это не дело».
                    Позже на даче в Куоккале бывали поэты Алексей Крученых, Велимир Хлебников и художник Николай
                    Кульбин.</p>
                <div data-block="gallery"><img src="https://b1.culture.ru/c/497249.jpg"/><img
                        src="https://b1.culture.ru/c/497252.jpg"/><img src="https://b1.culture.ru/c/497253.jpg"/></div>
                <p>Даже по средам, которые считались у Репина днями заслуженного отдыха, он использовал любую
                    возможность, чтобы сделать быстрые наброски — карандашом или кистью. Чаще всего зарисовывал в альбом
                    приехавших гостей.</p>
                <p>После революции местность Куоккале отошла Финляндии. Живописец стал невольным эмигрантом и жил по
                    нансеновскому паспорту — документу для беженцев без гражданства. Письма с предложениями вернуться
                    Репину писал сам Климент Ворошилов, с этой же целью к художнику неоднократно приезжали делегаты из
                    СССР. В дневниках Репина сохранилась запись: «Приезжал Корней [Чуковский]. Между прочим, не
                    советовал возвращаться».</p>
                <p>Сегодня в «Пенатах» расположен <a href="/institutes/11430/muzey-usadba-i-e-repina-penati"
                                                     target="_blank">Музей-усадьба имени Ильи Репина</a>. Здесь хранятся
                    личные вещи, картины и рисунки художника, а также работы его сына, Юрия Репина, и других живописцев.
                    В музее можно посмотреть старую кинохронику о жизни Ильи Репина в усадьбе и узнать рецепты
                    вегетарианских блюд Натальи Нордман. На обеденном столе хранится одна из карточек для гостей от 10
                    августа 1911 года. На ней можно прочесть шутливые правила поведения и меню: картофельный салат, репа
                    в вине, запеченный рис, щи и орехи с грушами.</p>
                <p><em>Автор: Диана Тесленко</em></p>
                <div data-block="share"></div>
                <div data-block="feed" data-layout="vertical" data-title="Смотрите также">
                    <div data-block="feed-item" data-title="Тайны известных картин"
                         data-description="Какие секреты хранят полотна Репина, Шишкина и Коровина."
                         data-href="https://yandex-rss.herokuapp.com/materials/200117/tainy-izvestnykh-kartin"
                         data-thumb="https://b1.culture.ru/c/719170.jpg" data-thumb-position="top"></div>
                    <div data-block="feed-item" data-title="Дачное настроение"
                         data-description="Отдыхаем, глядя на картины русских художников."
                         data-href="https://yandex-rss.herokuapp.com/materials/127738/dachnoe-nastroenie"
                         data-thumb="https://b1.culture.ru/c/495136.jpg" data-thumb-position="top"></div>
                    <div data-block="feed-item" data-title="Природа России на полотнах русских художников"
                         data-description="Приглашаем вас в «художественное» путешествие по 10 природным зонам России, изображенным на пейзажах живописцев."
                         data-href="https://yandex-rss.herokuapp.com/materials/102951/priroda-rossii-na-polotnakh-russkikh-khudozhnikov"
                         data-thumb="https://b1.culture.ru/c/411623.jpg" data-thumb-position="top"></div>
                </div>
                ]]>
            </turbo:content>
            <yandex:related type="infinity">
                <link url="https://yandex-rss.herokuapp.com/materials/128263/abramcevo-kudrinskaya-rezba"></link>
                <link url="https://yandex-rss.herokuapp.com/materials/128761/pechalnye-nevesty-v-russkoi-zhivopisi"></link>
                <link url="https://yandex-rss.herokuapp.com/materials/129935/maskarad-v-russkikh-portretakh"></link>
                <link url="https://yandex-rss.herokuapp.com/materials/130477/vsyo-o-bogomateri-shedevry-iz-novgoroda"></link>
                <link url="https://yandex-rss.herokuapp.com/materials/131420/dyuzhina-morei-ivana-aivazovskogo-geografiya-po-kartinam"></link>
            </yandex:related>
        </item>
    </channel>
</rss>