<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:yandex="http://news.yandex.ru" xmlns:turbo="http://turbo.yandex.ru">
    <channel><title>Культура.РФ</title>
        <description>Культура.РФ — портал культурного наследия, традиций народов России. Бесплатное кино, спектакли
            онлайн, виртуальные музеи. Расписание выставок, концертов, спектаклей.
        </description>
        <link>
        http://127.0.0.1:7000</link>
        <language>ru</language>
        <turbo:analytics type="Yandex" id="17425498"></turbo:analytics>
        <turbo:analytics type="Rambler" id="4480430"></turbo:analytics><!--if entityType === 'publications'-->
        <!--    turbo:analytics(type='MailRu', id=config.services.topMailRu.analyticsId)-->
        <item turbo="true"><title>Битва за Севастополь</title>
            <description>Фильм, приуроченный к юбилею Великой Победы.</description>
            <link/>
            <pubDate>Tue, 31 Mar 2015 03:00:00 +0300</pubDate>
            <author>Редакция портала «Культура.РФ»</author>
            <turbo:content><![CDATA[
                <header><h1>Битва за Севастополь</h1>
                    <menu><a href="http://127.0.0.1:7000/visit">Посетить</a><a
                            href="http://127.0.0.1:7000/read">Читать</a><a
                            href="http://127.0.0.1:7000/watch">Смотреть</a><a
                            href="http://127.0.0.1:7000/afisha">Афиша</a><a href="http://127.0.0.1:7000/atlas">Атлас</a><a
                            href="http://127.0.0.1:7000/s">Спецпроекты</a><a
                            href="http://127.0.0.1:7000/cinema">Кино</a><a
                            href="http://127.0.0.1:7000/museums">Музеи</a><a
                            href="http://127.0.0.1:7000/music">Музыка</a><a
                            href="http://127.0.0.1:7000/theaters">Театры</a><a
                            href="http://127.0.0.1:7000/architecture">Архитектура</a><a
                            href="http://127.0.0.1:7000/literature">Литература</a><a
                            href="http://127.0.0.1:7000/traditions">Традиции</a><a
                            href="http://127.0.0.1:7000/lectures">Лекции</a><a href="http://127.0.0.1:7000/russia">Образы
                        России</a></menu>
                    <div data-block="breadcrumblist"><a href="http://127.0.0.1:7000/cinema">Кино</a><a
                            href="http://127.0.0.1:7000/cinema/articles">Публикации раздела Кино</a></div>
                </header>
                <p><em>Картина Сергея Мокрицкого рассказывает о девушке-снайпере Людмиле Павличенко. Стрелок-невидимка,
                    которая часами могла лежать в засаде неподвижно, часто на сырой земле, еще чаще под шквальным
                    вражеским огнем, выжидая удобного момента, чтобы «снять» очередного фрица, не выдуманный персонаж, а
                    реальный человек. Она еще при жизни стала легендой.</em></p><img
                        src="https://b1.culture.ru/c/88153.688x392.jpg"/>
                <p>До войны студентка Люда Павличенко изучала историю в Киевском университете им. Т.Г. Шевченко и
                    занималась спортивной стрельбой. В 1941-м добровольцем ушла на фронт. Сражалась в 25-й Чапаевской
                    стрелковой дивизии. Участвовала в обороне Одессы и Севастополя. В мае 1942 года газета «Красный
                    черноморец» писала о ней: «Историк по образованию, воин по складу ума, она воюет со всем жаром
                    своего молодого сердца». <br></p>
                <figure><img src="https://b1.culture.ru/c/88155.800xp.jpg"/>
                    <figcaption>В октябре 1941 года Приморская армия была переброшена в Крым и встала на защиту
                        Севастополя. Людмила Павличенко сражалась в составе прославленной 25-й стрелковой дивизии им. В.
                        И. Чапаева.
                    </figcaption>
                </figure>
                <p>В июне 1942 года из-за ранения Людмилу отозвали с передовой, но призвали на фронт дипломатический: в
                    составе советской делегации она поехала в Канаду и США, чтобы убедить союзников открыть второй
                    фронт. Ее речь в Чикаго вошла не только в фильм, но и в историю.</p>
                <p>Говорят, что после минутной паузы зал взорвался аплодисментами. Она встречалась с политиками и
                    выступала перед общественностью, ее фото печатали в газетах, ей посвятил песню кантри-певец Вуди
                    Гатри. А с первой леди Америки Элеонорой Рузвельт Людмилу Павличенко связывала многолетняя дружба, и
                    даже во времена железного занавеса дамы продолжали обмениваться письмами.<br></p>
                <figure><img src="https://b1.culture.ru/c/88156.800xp.jpg"/>
                    <figcaption>Людмила Павличенко у советского посольства в Вашингтоне</figcaption>
                </figure>
                <p>Кстати, именно эта переписка во многом помогла режиссеру лучше понять характер своей героини.
                    Биография Людмилы, безусловно, стала основой сюжета фильма. И все же картина - нечто большее, чем
                    иллюстрация жизни отважной женщины, она даже не о войне, а о спасении через любовь. И это тоже
                    реальный факт из биографии снайпера Павличенко.</p>
                <p>Сергей Мокрицкий рассказал «Культуре.рф», что снимал фильм о волевой и одновременно хрупкой
                    женщине:«Она сильная, но мечтает встретить сильного мужчину, чтобы наконец стать слабой. Она весь
                    фильм ни у кого ничего не просит, единственный раз – в США, когда обращается к американским мужчинам
                    с просьбой открыть второй фронт». <br></p>
                <blockquote><p><a href="/movies/325" target="_blank">«О чем молчала 35-я батарея»</a></p>
                    <p><a href="/movies/515" target="_blank">«Война и судьбы 65 лет спустя…»</a></p>
                    <p><a href="/movies/466" target="_blank">«День первый…День последний»</a></p></blockquote>
                <p>Однако выжить эта советская Валькирия смогла только благодаря способности любить. «У нас есть две
                    девушки: медсестра Маша и снайпер Люда. Маша – воплощение любви, она спасает раненых, а Люда злее –
                    она убивает. Однажды Маша спасла жизнь немцу – перебинтовала его. А Люда его убила. Понимаете, ее
                    учили выживать на войне мужчины: сначала отец, который обучил стрельбе, затем ее первая любовь –
                    Макаров, а позже – вторая и самая сильная любовь – Леонид, который объяснил, что война – это такая
                    форма жизни. И если она не придумает, ради чего жить, то погибнет. У нас в фильме есть страшные
                    кадры, когда они целуются и тут же стреляют по врагу, затем опять целуются и опять стреляют. Жизнь и
                    смерть – рядом... Но после этой страшной мясорубки, обороны Севастополя, когда она чудом выжила, она
                    больше уже не хотела убивать», – говорит режиссер. Найти в себе силы любить, когда вокруг война и
                    смерть, непросто. Но и эту битву Людмила и в жизни, и в фильме выиграла. Это удивляет и восхищает
                    даже Сергея Мокрицкого: «Подвиги на войне меня как раз не удивили. Удивило другое – ее способность
                    находить всегда и везде правильные решения. Как говорит наша героиня Элеонора Рузвельт, она выиграла
                    все свои войны и как солдат, и как дипломат, и как женщина».</p>
                <p>Идея снять фильм принадлежит украинским коллегам. Бывший председатель Госкино Украины Екатерина
                    Копылова предложила продюсеру Наталье Мокрицкой сделать совместную картину. Снимать пригласили
                    Сергея Мокрицкого. Одаренный оператор и режиссер, как этнический украинец, да еще и бывший моряк,
                    служивший в Севастополе, не мог пройти мимо такого предложения. Фильм снимали в России и на Украине.<br>
                </p>
                <figure><img src="https://b1.culture.ru/c/88157.800xp.jpg"/>
                    <figcaption>«Битва за Севастополь». Режиссер Сергей Мокрицкий</figcaption>
                </figure>
                <p>Главную роль исполнила Юлия Пересильд, ее возлюбленного – Евгений Цыганов, Элеонору Рузвельт сыграла
                    британская актриса Джоан Блекхем. Одновременно картина выйдет в прокат и на экранах Украины. Правда,
                    под другим названием – «Незламна» («Несломленная»). Других различий нет. У фильма единый монтаж и
                    единый текст, то есть точный перевод при дублировании с русского на украинский язык. Когда начинали
                    работать над фильмом, даже предположить не могли, что политика разделит нас на два лагеря. «Мне
                    важно, чтобы мы вместе смотрели этот фильм, чтобы мы смогли хотя бы на два часа объединить жителей
                    наших стран. И я бы хотел, чтобы все поняли, война – это не выход, этим не решить ничего», – сказал
                    Сергей Мокрицкий.</p>
                <p><em>Трейлер «Битва за Севастополь»</em></p>
                <iframe src="https://www.youtube.com/embed/nR7Wdy-3-TA" allowfullscreen="true"></iframe>
                <p><em>«Кукушка» - официальный видеоклип к к/ф «Битва за Севастополь»</em></p>
                <iframe src="http://127.0.0.1:7000/embedded/material/50295" allowfullscreen="true"></iframe>
                <div data-block="share"></div>
                <div data-block="feed" data-layout="vertical" data-title="Смотрите также">
                    <div data-block="feed-item" data-title="День Победы"
                         data-description="Подборка материалов ко Дню Победы."
                         data-href="http://127.0.0.1:7000/materials/104815/den-pobedy"
                         data-thumb="https://b1.culture.ru/c/425598.jpg" data-thumb-position="top"></div>
                    <div data-block="feed-item" data-title="Кино для Победы"
                         data-description="Вспоминаем фильмы, созданные во время войны."
                         data-href="http://127.0.0.1:7000/materials/104904/kino-dlya-pobedy"
                         data-thumb="https://b1.culture.ru/c/423984.jpg" data-thumb-position="top"></div>
                    <div data-block="feed-item" data-title="Первый женский: невыдуманная история"
                         data-description="Военная драма о женском «Батальоне смерти». "
                         data-href="http://127.0.0.1:7000/materials/37608/pervyi-zhenskii-nevydumannaya-istoriya"
                         data-thumb="https://b1.culture.ru/c/71818.jpg" data-thumb-position="top"></div>
                </div>
                ]]>
            </turbo:content>
            <yandex:related type="infinity">
                <link url="http://127.0.0.1:7000/materials/50424/konstantin-bronzit-osenyaet-tekh-kto-dumaet"></link>
                <link url="http://127.0.0.1:7000/materials/50962/samyi-zhelannyi-film"></link>
                <link url="http://127.0.0.1:7000/materials/51093/priklyucheniya-beloi-vorony-evolyuciya-shkolnogo-filma-v-sovetskom-kino"></link>
                <link url="http://127.0.0.1:7000/materials/51168/sergei-ursulyak-my-ne-igraem-v-voinu-my-pytaemsya-rasskazat-o-lyudyakh"></link>
                <link url="http://127.0.0.1:7000/materials/51636/zhil-takoi-paren"></link>
            </yandex:related>
        </item>
    </channel>
</rss>