<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:turbo="http://turbo.yandex.ru">
    <channel><title>Культура.РФ</title>
        <description>Культура.РФ — портал культурного наследия, традиций народов России. Бесплатное кино, спектакли
            онлайн, виртуальные музеи. Расписание выставок, концертов, спектаклей.
        </description>
        <language>ru</language>
        <link>
        https://www.culture.ru</link>
        <item turbo="true"><title>Михаил Булгаков</title>
            <description>Из медицины в литературу: история жизни автора «Мастера и Маргариты».</description>
            <link>
            https://www.culture.ru/persons/8263/mikhail-bulgakov</link>
            <pubDate>Thu, 17 Oct 2019 15:45:00 +0300</pubDate>
            <author>Редакция портала «Культура.РФ»</author>
            <turbo:content><![CDATA[
                <header><h1>Михаил Булгаков</h1>
                    <div data-block="breadcrumblist"><a href="/literature">Литература</a><a href="/literature/persons">Персоны</a><a
                            href="/literature/persons/writer">Писатель</a></div>
                </header>
                <p><em>О своем творчестве Михаил Булгаков говорил так: «Черные и мистические краски, в которых
                    изображены бесчисленные уродства нашего быта, яд, которым пропитан мой язык <...>, а самое главное -
                    изображение страшных черт моего народа». При жизни писателя его пьесы запрещали к постановке, а
                    повести и романы напечатали только в 1960-х. Сейчас же произведениями «Собачье сердце», «Белая
                    гвардия», <a
                            href="/materials/202866/mikhail-bulgakov-master-i-margarita-fragmenty?utm_source=yandex-turbo"
                            target="_blank">«Мастер и Маргарита»</a> зачитываются со школы.</em></p><br/>
                <h2>«Насквозь интеллигентная семья»: детство Булгакова</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/891ecaf985c253add98383df389ef98a.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/934a854b206f274085a5e5dfa974f5db.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/4ab78732d859219d211174dc45894839.jpg"/>
                </div>
                <br/>
                <p>Михаил Булгаков родился в Киеве. Его отец, Афанасий Булгаков, был профессором Киевской духовной
                    академии. Он свободно знал греческий, немецкий, французский, английский языки, читал на
                    старославянском. Мать, Варвара Булгакова, работала учительницей в гимназии, но после свадьбы
                    посвятила себя детям. Будущий писатель был старшим ребенком: позже в семье Булгаковых родились дети
                    Вера, Надежда, Варвара, Николай, Иван и Елена. Жалования в академии не хватало, и, чтобы прокормить
                    семью, отец кроме основной работы преподавал историю в институте благородных девиц и служил в
                    канцелярии киевского цензора. <a href="/persons/8968/konstantin-paustovskii?utm_source=yandex-turbo"
                                                     target="_blank">Константин Паустовский</a> писал в «Книге
                    скитаний»: <em>«Семья Булгаковых была хорошо известна в Киеве — огромная, разветвленная, насквозь
                        интеллигентная семья <...> За окнами их квартиры постоянно слышались звуки рояля, голоса
                        молодежи, беготня, смех, споры и пение»</em>.</p><br/>
                <p>Булгаковы жили в живописном месте - на Андреевском спуске. В очерке «Киев-город» писатель позже
                    вспоминал: <em>«Весной зацветали белым цветом сады, одевался в зелень Царский сад, солнце ломилось
                        во все окна, зажигало в них пожары. А Днепр! А закаты!»</em>. Чтобы дети проводили больше
                    времени на природе, родители купили дачу. С 1900 года семья переезжала каждое лето в поселок Буча
                    недалеко от Киева - там у них был одноэтажный пятикомнатный дом с двумя верандами.</p><br/>
                <p>У Булгаковых часто звучала музыка. По вечерам мать играла на рояле произведения Фридерика Шопена.
                    Иногда скрипку в руки брал отец, и родители вместе пели романсы. Детей часто водили на летние
                    концерты в Купеческом саду над Днепром, старались достать билеты в оперу. На популярного в то время
                    «Фауста» с <a href="/persons/9332/fedor-shalyapin?utm_source=yandex-turbo" target="_blank">Федором
                        Шаляпиным</a> в главной роли семья ходила несколько раз. Булгаковы также ставили
                    благотворительные спектакли, в которых играли домочадцы. Представления проходили либо в приютах для
                    инвалидов, либо в квартирах друзей.</p><br/>
                <p>Образованием детей занималась мать - <em>«светлая королева»</em>, как называл ее Михаил Булгаков. Она
                    прививала им любовь к чтению: в доме была большая библиотека. Сестра писателя Елена Булгакова
                    рассказывала: <em>«Родители, между прочим, как-то умело нас воспитывали, нас не смущали: «Ах, что ты
                        читаешь? Ах, что ты взял?». У нас были разные книги»</em>. Михаил Булгаков читал произведения <a
                            href="/s/pushkin/?utm_source=yandex-turbo" target="_blank">Александра Пушкина</a> и <a
                            href="/s/lev-tolstoy/?utm_source=yandex-turbo" target="_blank">Льва Толстого</a>,
                    приключенческие романы Фенимора Купера и сказки <a
                            href="/persons/8213/mikhail-saltykov-shedrin?utm_source=yandex-turbo" target="_blank">Михаила
                        Салтыкова-Щедрина</a>. Его любимым писателем был <a
                            href="/persons/8127/nikolai-gogol?utm_source=yandex-turbo" target="_blank">Николай
                        Гоголь</a>. Булгаков рано начал писать и сам. Он сочинял короткие рассказы о городских жителях.
                </p><br/>
                <p>В 1901 году Михаила Булгакова зачислили в самую престижную школу города - Первую Киевскую мужскую
                    гимназию. Учеба давалась ему легко: первый, второй, третий и шестой классы будущий писатель закончил
                    с наградами. Воспитание в гимназии было прогрессивным: к ученикам обращались на «вы» и разрешали
                    высказывать собственное мнение. Вместе с будущим писателем учился Константин Паустовский. Он
                    вспоминал: <em>«Никто не давал таких едких и «припечатывающих» прозвищ как Булгаков <...> «Ядовитый
                        имеете глаз и вредный язык, - с сокрушением говорил ему инспектор Бодянский. - Прямо рветесь на
                        скандал, хотя выросли в почтенном профессорском семействе!»</em>. Михаил Булгаков пел в
                    гимназическом церковном хоре, играл в <a href="/s/vopros/football/?utm_source=yandex-turbo"
                                                             target="_blank">футбол</a> и катался на коньках.</p><br/>
                <blockquote><p>«Булгаков был переполнен шутками, выдумками, мистификациями. Все это шло свободно, легко,
                    возникало по любому поводу. В этом была удивительная щедрость, сила воображения, талант
                    импровизатора <...> Существовал мир, и в этом мире существовало как одно из его звеньев - его
                    творческое юношеское воображение»</p>
                    <p class="quote__description">Константин Паустовский, писатель</p></blockquote>
                <br/>
                <h2>«Хохотали под венцом ужасно»: женитьба и учеба на медицинском факультете</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/fdf85eb3fd983197bdc6213b5e12dad9.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/d7e8e3fc0bd4be3ba59db2ad30548c5d.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/5f48c04b846007f391f9020f94539bf7.jpg"/>
                </div>
                <br/>
                <p>В 1907 году от болезни умер отец Михаила Булгакова. Мать осталась одна с шестью детьми. Киевская
                    духовная академия выплачивала семье ежемесячную пенсию, однако ее не хватало. Тогда Варвара
                    Булгакова стала преподавать на вечерних женских курсах. Как старший сын Михаил Булгаков начал искать
                    работу, чтобы помочь матери: он занимался репетиторством, а летом служил кондуктором на железной
                    дороге. Несмотря на денежные трудности, все дети продолжали учиться в престижных гимназиях Киева.
                    Мать говорила: <em>«Я не могу вам дать приданое или капитал. Но я могу вам дать единственный
                        капитал, который у вас будет, — это образование»</em>.</p><br/>
                <p>В 1909 году Михаил Булгаков окончил гимназию и получил аттестат. В июле этого же года он поступил на
                    медицинский факультет Киевского университета. Выпускник быстро определился с <a
                            href="/materials/253374/pisateli-vrachi?utm_source=yandex-turbo"
                            target="_blank">профессией</a>: два его дяди со стороны матери работали врачами в <a
                            href="/s/moskva/?utm_source=yandex-turbo" target="_blank">Москве</a> и Варшаве, и оба
                    прилично зарабатывали. Этот фактор стал решающим.</p><br/>
                <p>В 1911 году Булгаков познакомился с Татьяной Лаппа, которая приехала из <a
                        href="/s/goroda/saratov/?utm_source=yandex-turbo" target="_blank">Саратова</a> к родственникам
                    на каникулы. Ее тетя дружила с матерью Булгакова, и будущего писателя попросили показать девушке
                    город. Татьяна Лаппа вспоминала: <em>«Целыми днями, не замечая усталости, мы бродили по киевским
                        улицам и паркам, посещали музеи. Куда только он меня не водил. Часто бывали на Владимирской
                        горке <...> А вечерами шли в Оперный театр»</em>. Они влюбились в друг друга, однако вскоре
                    Татьяне Лаппа пришлось вернуться домой. Сестра Булгакова писала в дневнике: <em>«Он все время
                        стремится в Саратов, где она живет, забросил занятия в университете, не перешел на 3 курс»</em>.
                </p><br/>
                <p>В следующий раз влюбленные увиделись только в 1912 году, когда Татьяну Лаппа приняли на
                    историко-филологическое отделение киевских Высших женских курсов. В 1913 году они обвенчались. Денег
                    не было: пара не умела экономить и тратила то, что переводил отец Лаппа, в тот же день.</p><br/>
                <blockquote><p>«Фаты у меня, конечно, никакой не было, подвенечного платья тоже — я куда-то дела все
                    деньги, которые отец прислал. Мама приехала на венчанье — пришла в ужас. У меня была полотняная юбка
                    в складку, мама купила блузку. Почему-то хохотали под венцом ужасно. Домой после церкви ехали в
                    карете. На обеде гостей было немного. Помню, много было цветов, больше всего — нарциссов»</p>
                    <p class="quote__description">Татьяна Лаппа, первая жена Булгакова</p></blockquote>
                <br/>
                <p>Когда началась <a
                        href="/materials/102565/soldaty-kultury-russkie-pisateli-i-khudozhniki-na-pervoi-mirovoi-voine?utm_source=yandex-turbo"
                        target="_blank">Первая мировая война</a>, Михаил Булгаков учился на четвертом курсе. Раненых
                    было много, и студентов-медиков отправляли дежурить в лазарет Красного Креста. В госпиталь сестрой
                    милосердия устроилась и Татьяна Лаппа. В 1915 году во время призывной кампании в университете
                    Булгаков записался добровольцем на фронт, однако из-за хронической болезни почек его признали <em>«негодным
                        к несению военной походной службы»</em>.</p><br/>
                <h2>Земский доктор</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/e872d2c46324c7eaa384bb8f71cb87a1.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/2e14449e9b712eacfa850b188117000f.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/65b39dcae51301ac0e6e3b5e668717a2.jpg"/>
                </div>
                <br/>
                <p>В 1916 году Булгаков сдал выпускные экзамены и получил «степень лекаря с отличием». Будущий писатель
                    даже не стал дожидаться торжественного вручения дипломов: он уехал на Юго-западный фронт
                    добровольцем Красного Креста. Летом 1916 года там часто шли бои - генерал Брусилов начал знаменитую
                    операцию «Брусиловский прорыв». Михаил Булгаков работал в фронтовом госпитале сначала в
                    Каменце-Подольском, потом в освобожденном городе Черновцы. Однако в сентябре его отозвали. Все
                    опытные врачи ушли на фронт, и в сельских больницах катастрофически не хватало людей. Тогда недавних
                    выпускников медицинских факультетов стали вызывать со службы и распределять по отдаленным деревням.
                    Михаил Булгаков получил назначение в Смоленскую губернию - он стал заведующим и единственным врачом
                    Никольской земской больницы Сычевского уезда.</p><br/>
                <p>Работа была тяжелой, Булгаков делал все: принимал роды, ампутировал руки и ноги, лечил нарывы. В
                    отчетности управы писали: <em>«Он зарекомендовал себя энергичным и неутомимым работником на земском
                        поприще»</em>. За год молодой врач принял 15361 больного. В этот период Булгаков начал писать
                    рассказы о том, что происходило с ним во время работы: «Звездная сыпь», «Полотенце с петухом»,
                    «Стальное горло». Позже они вошли в цикл «Записки юного врача». В 1917 году он заразился дифтерией,
                    когда лечил больного ребенка. Чтобы уменьшить боль, Булгаков вколол себе морфий. Вещество сразу
                    вызвало зависимость.</p><br/>
                <p>В сентябре 1917 года Михаила Булгакова по его просьбе перевели в Вяземскую больницу. Он стал
                    заведующим инфекционным и венерическим отделением.</p><br/>
                <blockquote><p>«И вот я увидел их вновь наконец, обольстительные электрические лампочки! На перекрестке
                    стоял живой милиционер <...> в будке торговали вчерашними московскими газетами, содержащими в себе
                    потрясающие известия, невдалеке призывно пересвистывались московские поезда. Словом, это была
                    цивилизация, Вавилон, Невский проспект»</p>
                    <p class="quote__description">Михаил Булгаков, рассказ «Морфий»</p></blockquote>
                <br/>
                <p>В декабре 1917 года Булгаков поехал в Москву за разрешением вернуться в Киев, но получил отказ. В
                    городе были беспорядки - шла <a
                            href="/movies/4259/ustroit-tak-chtoby-vse-stalo-novym-k-100-letiyu-revolyucii-1917-goda-v-rossii?utm_source=yandex-turbo"
                            target="_blank">революция</a>. Булгаков писал: <em>«Недавно в поездке в Москву мне пришлось
                        видеть воочию то, что больше я не хотел бы видеть. Я видел, как толпы бьют стекла в поездах,
                        видел, как бьют людей. Видел разрушенные и обгоревшие дома в Москве. Видел голодные хвосты у
                        лавок, затравленных и жалких офицеров»</em>.</p><br/>
                <h2>От белого военврача до работника ревкома</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/6db16977e4329db3917d7e8bafc5894f.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/0b8743143f9366dd8d841ebb5fb23be9.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/464f683b83238a16e5c00cf5f8dc105f.jpg"/>
                </div>
                <br/>
                <p>Освобождение от службы Булгаков получил только в феврале 1918 года. Врач с женой сразу же вернулся в
                    Киев. Их поезд был одним из последних - вскоре город захватили германские войска и началась
                    оккупация. Михаил Булгаков решил специализироваться на венерологии и открыл частный прием. Поборол
                    зависимость от морфия. Теперь по вечерам он писал. Булгаков задумал цикл «Записки юного врача»,
                    отрывки которого читал домашним.</p><br/>
                <p>Власть в Украине постоянно менялась. После немецкой оккупации страной управлял гетман Скоропадский,
                    потом были Симон Петлюра и Украинская Народная республика, которых сместила Красная Армия. Булгаков
                    писал: <em>«В 1919 году, проживая в городе Киеве, последовательно призывался на службу в качестве
                        врача всеми властями, занимавшими город»</em>. Ему приходилось скрываться или убегать. Татьяна
                    Лаппа вспоминала, как муж избежал мобилизации в армию Петлюры: <em>«Он потом рассказал, что как-то
                        немножко поотстал, потом ещё немножко, за столб, за другой и бросился в переулок бежать. Так
                        бежал, так сердце колотилось, думал инфаркт будет»</em>. Однако в сентябре 1919 года Булгакову
                    сбежать не удалось - его направили военным врачом во Владикавказ. Жена решила ехать вместе с ним.
                </p><br/>
                <p>В феврале 1920 года белогвардейцы покинули Владикавказ - на город наступали красные. Уехать вместе с
                    армией Булгаков не мог: незадолго до этого он заболел тифом. А когда выздоровел, в городе уже
                    заседал революционный комитет. Нужно было решать, как зарабатывать на жизнь. Диплом врача грозил
                    очередной мобилизацией и отправкой в места боевых действий, поэтому Михаил Булгаков решил сменить
                    специальность и стать писателем.</p><br/>
                <p>Он устроился на работу во Владикавказский ревком, где заведовал литературной и театральной секцией.
                    Булгаков отнесся к своим обязанностям ответственно: почти каждый день он организовывал литературные
                    вечера, публичные чтения, лекции по истории культуры. Параллельно ставил на театральной сцене пьесы,
                    которые писал сам. В 1920 году состоялись две премьеры: комедия о бандах времен Гражданской войны
                    «Самооборона» и драма о крахе старых идеалов «Братья Турбины». Михаил Булгаков писал своему
                    двоюродному брату Константину: <em>«Турбины» четыре раза за месяц шли с треском успеха <...> Как бы
                        я хотел, чтобы ты был здесь, когда «Турбины» шли в первый раз. Ты не можешь себе представить,
                        какая печаль была у меня в душе, что пьеса идет в дыре захолустной, что я запоздал на четыре
                        года с тем, что я должен был давно начать делать – писать»</em>.</p><br/>
                <h2>Первые литературные произведения</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/d790e60bbd6eb33c63dff87ad0237acc.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/c7bbdc617f6112f60190fd3c27d1b9b6.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/85d609cb0f9ef225f960f96a24289b69.jpg"/>
                </div>
                <br/>
                <p>В 1921 году Михаил Булгаков переехал в Москву. Сначала он работал хроникером в «Торгово-промышленном
                    вестнике», после его закрытия перешел в газету «Рабочий», а потом устроился обработчиком писем в
                    издание <a
                            href="/movies/3571/nastoyashii-khkh-vek-film-4-lyudi-i-polozheniya?utm_source=yandex-turbo"
                            target="_blank">«Гудок»</a>. Денег катастрофически не хватало, и Булгаков брался за любую
                    работу. В своем дневнике от 26 января 1922 года он писал: <em>«Вошел в бродячий коллектив актеров:
                        буду играть на окраинах. Плата 125 за спектакль. Убийственно мало. Конечно, из-за этих
                        спектаклей писать будет некогда. Заколдованный круг <...> Питаемся с женой впроголодь»</em>.
                    Фельетоны и очерки для «Гудка» тогда писали известные литераторы: Илья Ильф и Евгений Петров, <a
                            href="/materials/202606/valentin-kataev-syn-polka-fragment-vanya-pastushok-dlya-6-klassa?utm_source=yandex-turbo"
                            target="_blank">Валентин Катаев</a>, <a
                            href="/persons/9639/yurii-olesha?utm_source=yandex-turbo" target="_blank">Юрий Олеша</a>, <a
                            href="/materials/51681/test-na-znanie-zhizni-i-tvorchestva-isaaka-babelya?utm_source=yandex-turbo"
                            target="_blank">Исаак Бабель</a>. С апреля 1922 года к ним присоединился и Михаил Булгаков.
                    Тексты писателя публиковали почти в каждом номере газеты - в этот период вышли юмористические
                    рассказы «Похождения Чичикова», «Красная корона», «Чаша жизни». Булгаков высмеивал мещан,
                    приспособленцев и лгунов. Часто он черпал идеи из записок, которые присылали в редакцию рабочие
                    корреспонденты.</p><br/>
                <p>Параллельно бывший врач писал для эмигрантского просоветского издания «Накануне». В литературном
                    приложении газеты опубликовали первые главы из повести «Записки на Манжетах» - частично
                    автобиографического произведения о голодной жизни современного писателя. Спустя полгода вышла вторая
                    часть текста, на этот раз в журнале «Россия».</p><br/>
                <p>Михаил Булгаков все больше времени уделял литературе. В 1923 году он начал работу над романом «Белая
                    гвардия». Днем он писал фельетоны для «Гудка», вечерами трудился над произведением. Татьяна Лаппа
                    вспоминала: <em>«Писал ночами «Белую гвардию» и любил, чтоб я сидела около, шила. У него холодели
                        руки, ноги, он говорил мне: «Скорей, скорей горячей воды»; я грела воду на керосинке, он опускал
                        руки в таз с горячей водой»</em>. В романе описывались события Гражданской войны на Украине
                    через жизнь большой интеллигентной семьи. У всех героев были прототипы - родственники или киевские
                    друзья Михаила Булгакова. Писатель даже дал семье девичью фамилию своей бабушки - Турбины. В очерке
                    «Мне приснился сон» он писал: <em>«Помнится, мне очень хотелось передать, как хорошо, когда дома
                        тепло, часы, бьющие башенным боем в столовой, сонную дрему в постели, книги и мороз»</em>.
                    Булгаков сравнивал роман с <a href="/books/133/voina-i-mir?utm_source=yandex-turbo" target="_blank">«Войной
                        и миром»</a>: персонажи поневоле оказались в центре политических событий и должны были сделать
                    выбор.</p><br/>
                <p>Летом 1923 года Булгаков написал «Дьяволиаду» - повесть о делопроизводителе Короткове, которого свела
                    с ума советская бюрократия. Произведение опубликовали в 1924 году журнале «Недра». После выхода
                    текста писатель <a href="/materials/254071/chto-predskazal-evgenii-zamyatin?utm_source=yandex-turbo"
                                       target="_blank">Евгений Замятин</a> отметил: <em>«У автора, несомненно, есть
                        верный инстинкт в выборе композиционной установки: фантастика, корнями врастающая в быт,
                        быстрая, как в кино, смена картин <...> Абсолютная ценность этой вещи Булгакова - уж очень
                        какой-то бездумной - невелика, но от автора, по-видимому, можно ждать хороших работ»</em>.
                    Михаил Булгаков писал быстро. Уже осенью 1923 года он завершил рассказ «Ханский огонь». Вскоре
                    Булгаков вступил во Всероссийский союз писателей.</p><br/>
                <h2>МХАТ и Театр имени Вахтангова: Булгаков - драматург</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/6d6b35f0a7f38c287d5dc94cf77a7745.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/5b002161e7785446bf1c511a0e144342.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/e8920f6979ba8b474ff15e1ec9e12f34.jpg"/>
                </div>
                <br/>
                <p>Зимой 1924 года на вечере газеты «Накануне» Михаил Булгаков познакомился с Любовью Белозерской. Во
                    время революции она вместе с мужем эмигрировала во Францию, потом развелась и вернулась в советскую
                    Россию. Вскоре Булгаков расстался с Татьяной Лаппа и женился на Белозерской.</p><br/>
                <blockquote><p>«Нельзя было не обратить внимания на необыкновенно свежий его язык, мастерский диалог и
                    такой неназойливый юмор. Мне нравилось все, принадлежавшее его перу <...> Одет он был в глухую
                    черную толстовку без пояса, «распашонкой». Я не привыкла к такому мужскому силуэту; он показался мне
                    слегка комичным, так же как и лакированные ботинки с ярко-желтым верхом, которые я сразу окрестила
                    «цыплячьими»</p>
                    <p class="quote__description">Любовь Белозерская, мемуары «О, мед воспоминаний»</p></blockquote>
                <br/>
                <p>В 1924 году Михаил Булгаков написал фантастическую повесть «Роковые яйца». Литератор перенес действие
                    произведения в будущее, в 1928 год. Повесть принесла Булгакову известность: ее напечатали сразу в
                    двух журналах - «Недра» и «Красная панорама», а в 1925 году она вошла в первый сборник писателя
                    «Дьяволиада». <a href="/persons/10003/maksim-gorkii?utm_source=yandex-turbo"
                                     target="_blank">Горький</a> писал в письме Михаилу Слонимскому 8 мая 1925 года:
                    <em>«Булгаков очень понравился мне, очень <...>»</em>. В этом же году в журнале «Россия» были
                    опубликованы две части романа «Белая гвардия». Произведение Булгаков посвятил своей новой жене.
                    Однако целиком «Белая гвардия» не была опубликована: журнал разорился, и печать последней части
                    произведения отменили.</p><br/>
                <p>В апреле 1925 года Михаил Булгаков получил письмо от режиссера Бориса Вершилова. Тот предложил
                    писателю поставить роман «Белая гвардия» на сцене студии <a
                            href="/materials/103437/etot-mir-moi?utm_source=yandex-turbo" target="_blank">МХАТ</a>. Для
                    этого требовалось переработать его в пьесу. Через несколько дней с Булгаковым связались и из <a
                            href="/movies/3767/zakulise-gosudarstvennyi-akademicheskii-teatr-imeni-evgeniya-vakhtangova?utm_source=yandex-turbo"
                            target="_blank">Театра имени Вахтангова</a> - просьба была такой же. Писатель сделал выбор в
                    пользу МХАТа. Все лето Булгаков адаптировал произведение для театра. Педагог и критик Павел Марков 6
                    июня поторапливал Булгакова: <em>«Театр очень заинтересован в обещанной Вами пьесе <...></em>». В
                    сентябре писатель уже читал черновую версию труппе. У драмы было новое название - «Дни Турбиных».
                </p><br/>
                <p>Взамен «Белой гвардии», которую Булгаков отдал во МХАТ, писатель пообещал Театру имени Вахтангова
                    новую пьесу. В декабре 1925 года он закончил «Зойкину квартиру». По сюжету, главная героиня открыла
                    в своей квартире дом свиданий под видом швейной мастерской. Булгаков говорил: <em>«Это трагическая
                        буффонада, в которой в форме масок показан ряд дельцов нэпманского пошиба в наши дни в
                        Москве»</em>.</p><br/>
                <p>Осенью 1926 года прошли сразу две премьеры Булгаковских пьес. 5 октября в МХАТе сыграли «Дни
                    Турбиных», а 28-го в Театре имени Вахтангова состоялась премьера «Зойкиной квартиры». «Дни Турбиных»
                    за первый месяц показали 13 раз, и все время в зале был аншлаг. Так же популярна была и «Зойкина
                    квартира». Однако критики пьесу не приняли: Булгакова ругали за сочувствие белому движению, <em>«домашнюю
                        контрреволюцию»</em> и <em>«идеологию стопроцентного обывателя»</em>.</p><br/>
                <h2>«Ныне я уничтожен»: обыск, запреты и звонок Сталина</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/d440f43f5d8f14fb2b56c499ac3d28fb.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/9bacf7889bad2adff9340126de017320.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/0533b51581121cc25ce47fec1d0c7494.jpg"/>
                </div>
                <br/>
                <p>7 мая 1926 года в квартиру к писателю пришли с обыском. Политбюро начало кампанию против
                    сменовеховцев - эмигрантов, которые выступали за примирение с Советской Россией. Несколькими днями
                    ранее был арестован и выслан за границы Исайя Лежнев - редактор журнала «Россия», где печатался
                    Михаил Булгаков.</p><br/>
                <blockquote><p>«В один прекрасный вечер, - так начинаются все рассказы, - в один прекрасный вечер на
                    голубятню постучали (звонка у нас не было) и на мой вопрос «кто там?» бодрый голос арендатора
                    ответил: «Это я, гостей к вам привел!». На пороге стояли двое штатских: человек в пенсне и просто
                    невысокого роста человек - следователь Славкин и его помощник с обыском»</p>
                    <p class="quote__description">Любовь Белозерская, вторая жена Булгакова</p></blockquote>
                <br/>
                <p>Во время обыска у Булгакова изъяли дневник и сатирическую повесть «Собачье сердце». Историю
                    профессора Преображенского, который превратил бездомного пса в грубого, малограмотного, но успешного
                    в советских реалиях Шарикова, писатель надеялся напечатать в альманахе «Недра». Однако в
                    Госбезопасности произведение охарактеризовали так: <em>«...такие вещи, прочитанные в самом блестящем
                        московском литературном кружке, намного опаснее бесполезно-безвредных выступлений литераторов
                        101-го сорта на заседаниях «Всероссийского Союза Поэтов»</em>. Вернуть рукопись удалось только
                    через три года: за писателя вступился Максим Горький. Повесть так и не была напечатана при жизни
                    автора, но текст распространялся в самиздате.</p><br/>
                <p>После успешного дебюта Михаил Булгаков написал для МХАТа еще одну драму о гражданской войне - «Бег».
                    События пьесы происходили в начале 1920-х годов: белое движение уже потерпело поражение, бывшие
                    генералы, преподаватели, епископы лишились всего и вынуждены были эмигрировать. Потерянные и
                    беззащитные герои пьесы рассуждали о жизни, долге и семье. Во время работы над этим произведением
                    Булгаков во многом опирался на воспоминания своей жены, Любови Белозеровой, которая сама
                    эмигрировала во время революции. В мае 1928 года <a
                            href="/persons/8492/konstantin-stanislavskii?utm_source=yandex-turbo" target="_blank">Константин
                        Станиславский</a> писал: <em>«Бег» был принят театром восторженно, но Главреперткомом не
                        разрешен к постановке. «Бег» запрещен»</em>. Резолюцию главного комитета по контролю за
                    репертуаром поддержал Иосиф Сталин: он лично прочел пьесу.</p><br/>
                <blockquote><p>«Бег» есть проявление попытки вызвать жалость, если не симпатию, к некоторым слоям
                    антисоветской эмигрантщины, – стало быть, попытка оправдать или полуоправдать белогвардейское дело.
                    «Бег», в том виде, в каком он есть, представляет антисоветское явление»</p>
                    <p class="quote__description">Иосиф Сталин, «Ответ Билль-Белоцерковскому»</p></blockquote>
                <br/>
                <p>В 1929 году Главрепертком снял с репертуара все пьесы Булгакова. Писатель остался без дохода,
                    бухгалтерия МХАТа требовала вернуть аванс за непоставленную пьесу «Бег». Булгаков писал брату
                    Николаю в Париж: <em>«Я сейчас уже терплю бедствие. 15-го марта наступит первый платеж фининспекции
                        <...> Полагаю, что если какого-нибудь чуда не случится, в квартирке моей миленькой и сырой
                        вдребезги <...> не останется ни одного предмета. Барахло меня трогает мало. Ну, стулья, чашки,
                        черт с ними! Боюсь за книги!»</em>. В июне 1929 года Булгаков написал письмо Иосифу Сталину и
                    Михаилу Калинину с просьбой разрешить выезд из СССР. Ему отказали. Тогда литератор подал заявление о
                    выходе из Всероссийского Союза писателей.</p><br/>
                <p>Осенью 1929 года Михаил Булгаков написал новую пьесу - «Кабала Святош». Главным героем стал Мольер -
                    неудобный для короля и духовенства писатель, которому постоянно пытались навредить другие герои.
                    Произведение сначала разрешили к постановке, однако 18 марта 1930 года Главрепертком изменил свое
                    решение: по мнению чиновников, Булгаков в пьесе проводил аналогию между бесправным положением
                    писателя при тирании монарха и при диктатуре пролетариата. В этот же день, вернувшись домой,
                    писатель сжег черновики романа «Театр» о закулисье и наброски «Романа о дьяволе». Вскоре Булгаков
                    написал в Правительство СССР: в нем он повторил просьбу об эмиграции.</p><br/>
                <blockquote><p>«Ныне я уничтожен. Уничтожение это было встречено советской общественностью с полной
                    радостью и названо «достижением». Скажу коротко: под двумя строчками казенной бумаги погребены -
                    работа в книгохранилищах, моя фантазия <...> Я прошу принять во внимание, что невозможность писать
                    для меня равносильна погребению заживо»</p>
                    <p class="quote__description">Михаил Булгаков, письмо Правительству СССР</p></blockquote>
                <br/>
                <p>18 апреля 1930 года в квартире Булгакова раздался телефонный звонок. Говорил Сталин: <em>«Вы где
                    хотите работать? В Художественном театре?» — «Да, я хотел бы. Но я говорил об этом — мне отказали».
                    «А вы подайте заявление туда. Мне кажется, что они согласятся»</em>. В мае 1930 года Булгакова
                    зачислили на должность ассистента режиссера во МХАТ.</p><br/>
                <h2>Последние годы писателя: работа в театре и роман «Мастер и Маргарита»</h2><br/>
                <div data-block="gallery"><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/abcf024e3a598669d71f9c0d59f66c7b.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/e8aea168998843868d4510b08d6ae6e0.jpg"/><img
                        src="https://www.culture.ru:443/storage/images/16210075459e9a64b03608ac297a6c43/aa360e61a8e31a999205ac0f39260091.jpg"/>
                </div>
                <br/>
                <p>В театре Булгаков занимался инсценировкой - он собирался ставить <a
                        href="/books/215/myortvye-dushi?utm_source=yandex-turbo" target="_blank">«Мертвые души»</a> и
                    «Войну и мир». Писатель говорил своему другу Павлу Попову: <em>«И вот к концу своей писательской
                        работы я был вынужден сочинять инсценировки. Какой блистательный финал, не правда ли? Я смотрю
                        на полки и ужасаюсь: кого, кого еще мне придется инсценировать завтра? <a
                                href="/persons/8217/ivan-turgenev?utm_source=yandex-turbo" target="_blank">Тургенева</a>,
                        <a href="/persons/8216/nikolai-leskov?utm_source=yandex-turbo" target="_blank">Лескова</a>, <a
                                href="/persons/8173/aleksandr-ostrovskii?utm_source=yandex-turbo" target="_blank">Островского</a>?
                        Последний, по счастью, сам себя инсценировал, очевидно предвидя то, что случится со мною в 1929
                        и 1931 году»</em>.</p><br/>
                <p>В 1932 году Михаил Булгаков развелся с Любовью Белозерской и женился на Елене Шиловской. С ней
                    писатель познакомился на вечере у друзей. Шиловская была замужем за высокопоставленным чиновником.
                    Когда ее отношения с Булгаковым открылись, супруг Шиловской отказался давать развод и запретил
                    видеться с писателем. Однако спустя год он сдался и разрешил жене уехать. Шиловская помогала
                    Булгакову во всем: печатала под диктовку произведения, вела все его дела.</p><br/>
                <p>В 1933 году Булгаков вернулся к «Роману о дьяволе». Литератор писал <a
                        href="/materials/164814/vikentii-veresaev-pisatel-voenvrach-biograf-perevodchik?utm_source=yandex-turbo"
                        target="_blank">Вересаеву</a>: <em>«Задыхаясь в моих комнатёнках, я стал марать страницу за
                    страницей наново тот свой уничтоженный три года назад роман. Зачем? Не знаю. Я тешу себя сам! Пусть
                    упадёт в Лету!»</em>. Булгаков долго подбирал название: роман назывался то «Консультант с копытом»,
                    то «Копыто инженера», то «Гастроль (Воланда)». В первом, сожженном варианте Мастера и Маргариты не
                    было вообще: герои появились уже во второй версии. Прототипом Маргариты стала третья жена Булгакова
                    Елена Шиловская. Тогда же история Иешуа и Понтия Пилата из главной линии романа превратилась в
                    сочинение Мастера.</p><br/>
                <p>Во время работы над «Мастером и Маргаритой» писатель делал выписки из богословских трудов,
                    энциклопедических словарей и философских учений. Тетради были поделены на темы: «О дьяволе», «Иисус
                    Христос», «О боге». Поэт <a href="/persons/8786/konstantin-simonov?utm_source=yandex-turbo"
                                                target="_blank">Константин Симонов</a> говорил: <em>«Этот роман,
                        по-моему, лучшая вещь Булгакова, а если говорить об истории Христа и Пилата, то это вообще одни
                        из лучших страниц русской литературы 20-го века»</em>. К 1938 году роман был готов, однако
                    править его Булгаков продолжал до своей смерти.</p><br/>
                <p>Параллельно Михаил Булгаков инсценировал произведения для театра: адаптировал «Дон Кихота», написал
                    драму о Пушкине «Последние дни», сочинил либретто «Рашель» по мотивам рассказов Ги де Мопассана.</p>
                <br/>
                <p>Осенью 1939 года писатель серьезно заболел. В феврале 1940-го он продиктовал последние правки к
                    роману «Мастер и Маргарита». 10 марта того же года писатель скончался. Его тело кремировали, а прах
                    захоронили на Новодевичьем кладбище.</p>
                <div data-block="feed" data-layout="vertical" data-title="В публикациях">
                    <div data-block="feed-item" data-title="20 экранизаций классики"
                         data-description="Произведения Толстого, Достоевского, Чехова и других авторов на экране."
                         data-href="/themes/253298/20-ekranizacii-klassiki?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/383aefa6dfbed02a8c5925e1ac9ed8df/cf196fe71e1d0a35c9a2c3f3be2319ff.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Котики в русской классике"
                         data-description="Вспоминаем котов и кошек в литературе и разглядываем иллюстрации к книгам."
                         data-href="/materials/135272/kotiki-v-russkoi-klassike?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/536617.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Самые культурные дачные поселки"
                         data-description="Где отдыхали от городского ритма Чуковский, Пастернак, Прокофьев и другие."
                         data-href="/materials/254888/samye-kulturnye-dachnye-poselki?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/8f8537a2f63dd4ab736d550bb949c0b6/acacf8fba24ef8c32dc6dde4b1f61860.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Пять ключей к «Мастеру и Маргарите»"
                         data-description="Роман Булгакова через призму шедевров мировой литературы."
                         data-href="/materials/192881/pyat-klyuchei-k-masteru-i-margarite?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/703149.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="5 главных построек Василия Баженова"
                         data-description="Величественные здания, воздвигнутые по заказу императорской семьи."
                         data-href="/materials/178207/5-glavnykh-postroek-vasiliya-bazhenova?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/669593.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="12 тысяч рисунков Нади Рушевой"
                         data-description="Иллюстратор Пушкина, Толстого, Булгакова и Экзюпери."
                         data-href="/materials/168229/12-tysyach-risunkov-nadi-rushevoi?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/645916.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Музыка в русской литературе"
                         data-description="Что слушали герои Александра Пушкина, Ивана Гончарова, Федора Достоевского и других русских классиков."
                         data-href="/materials/254490/muzyka-v-russkoi-literature?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/1ae126c88d41d156c700f9df83309efa/b49043e3f02ea4585a855084599f5285.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Балетная вселенная Бориса Эйфмана"
                         data-description="Бориса Эйфмана называют хореографом-философом, балетмейстером-психоаналитиком и «театральным волшебником». "
                         data-href="/materials/126574/baletnaya-vselennaya-borisa-eifmana?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/489177.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Культурный гид по Крыму"
                         data-description="Раскопки древних городов, старинные дворцы, дома-музеи писателей и художников, горы и водопады."
                         data-href="/materials/202828/kulturnyi-gid-po-krymu?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/724786.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Непогода в русской литературе"
                         data-description="Как классики отечественной литературы использовали погоду в своих сочинениях. "
                         data-href="/materials/163139/nepogoda-v-russkoi-literature?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/633121.jpg" data-thumb-position="left"></div>
                </div>
                <div data-block="feed" data-layout="vertical" data-title="Фильмы">
                    <div data-block="feed-item" data-title="Собачье сердце" data-description=""
                         data-href="/movies/430/sobache-serdce?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/80fbbeb2fa6a0d2a95ace52f51faf301/d3cf7d878cedfabb86efa8de8327500d.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Мастер и Маргарита" data-description=""
                         data-href="/movies/1608/master-i-margarita?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/80fbbeb2fa6a0d2a95ace52f51faf301/5b96067aecfcf2142b3afa1fe33afdf2.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Белая гвардия" data-description=""
                         data-href="/movies/1612/belaya-gvardiya?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/61489c338c09d349f851da4c559477bc/fb48b8cb5d0f6f9e5328329494040be4.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Бег" data-description=""
                         data-href="/movies/418/beg?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/61489c338c09d349f851da4c559477bc/0a8e7307869032bd0cce049c99711c43.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Загадки Мастера и Маргариты" data-description=""
                         data-href="/movies/1463/zagadki-mastera-i-margarity?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/90810.jpg" data-thumb-position="left"></div>
                </div>
                <div data-block="feed" data-layout="vertical" data-title="Лекции">
                    <div data-block="feed-item" data-title="Михаил Булгаков. Пьесы. «Мастер и Маргарита»"
                         data-description=""
                         data-href="/movies/1150/mikhail-bulgakov-pesy-master-i-margarita?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/64805.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Михаил Булгаков. Биография. Романы" data-description=""
                         data-href="/movies/1149/mikhail-bulgakov-biografiya-romany?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/65480.jpg" data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Спецкурс «Мастер и Маргарита»" data-description=""
                         data-href="/movies/24/speckurs-master-i-margarita?utm_source=yandex-turbo"
                         data-thumb="https://b1.culture.ru/c/125680.jpg" data-thumb-position="left"></div>
                </div>
                <div data-block="share"
                     data-network="vkontakte, facebook, odnoklassniki, twitter, viber, whatsapp"></div>
                <div data-block="feed" data-layout="vertical" data-title="Смотрите также">
                    <div data-block="feed-item" data-title="Юрий Нагибин"
                         data-description="Биография писателя, журналиста и сценариста, автора рассказов для детей и автобиографических повестей."
                         data-href="/persons/10284/yurii-nagibin?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/3570e360014ce66edcdc1dbb0a6a04ca/dbe9bc47919922f8dd5ebe6b9c941208.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Алексей Плещеев"
                         data-description="Биография поэта, писателя, члена кружка петрашевцев и автора революционных гимнов."
                         data-href="/persons/8543/aleksei-plesheev?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/e4a2cddbe5b782ed2fe00ddb641bc6cb/dec44e694b1552700490588106d6d271.jpg"
                         data-thumb-position="left"></div>
                    <div data-block="feed-item" data-title="Георгий Жженов"
                         data-description="Почти 20 лет на Колыме и роли в «Берегись автомобиля», «Ошибка резидента» и «Экипаж»: биография актера."
                         data-href="/persons/5510/georgii-zhzhenov?utm_source=yandex-turbo"
                         data-thumb="https://www.culture.ru:443/storage/images/680efe9a46c8b92156a0c9894e3f4fa2/9bd0068e023a2da854f7d23d0bb87488.jpg"
                         data-thumb-position="left"></div>
                </div>
                ]]>
            </turbo:content>
        </item>
    </channel>
</rss>